## Lists Methods

In [1]:
liste1 = [1, 2, 3, 4, 5, 6, 7]
liste2 = [8, 9, 10]
liste1.extend(liste2)
print(liste1)
print(liste2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[8, 9, 10]

In [2]:
liste1.extend([11, 12, 13])
liste1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [3]:
liste1.extend("deneme")
liste1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 'd', 'e', 'n', 'e', 'm', 'e']

In [4]:
liste1.extend((False, True, 0, "para"))
liste1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 'd',
 'e',
 'n',
 'e',
 'm',
 'e',
 False,
 True,
 0,
 'para']

In [5]:
liste1.extend(20)
liste1

TypeError: 'int' object is not iterable

In [6]:
liste = ["apple", "banana", "orange"]
liste_1 = ["apple", "banana", "orange"]
"***".join(liste) + "---" + "***".join(liste_1)

'apple***banana***orange---apple***banana***orange'

In [7]:
a = ["apple", "banana"]
b = ["cherry", "kiwi"]

a = b
print(a, b, end="\n")

['cherry', 'kiwi'] ['cherry', 'kiwi']

In [8]:
b.insert(2, "strawberry")
print(b)

['cherry', 'kiwi', 'strawberry']

In [9]:
print(a)

['cherry', 'kiwi', 'strawberry']

In [10]:
c = ["ali", "veli", "deli"]
d = ["zeynep", "nihal", "defne"]
d = c.copy()

print(c, d, sep="\n")

['ali', 'veli', 'deli']
['ali', 'veli', 'deli']

In [11]:
d.insert(2, "ayşe")
print(d)
print(c)

['ali', 'veli', 'ayşe', 'deli']
['ali', 'veli', 'deli']

In [12]:
liste = [20, 30, 5, 47, 0, -20, -1997]
liste.sort()
liste

[-1997, -20, 0, 5, 20, 30, 47]

In [13]:
liste1 = ["ali", "veli", "deli", "ayşe", "fatma"]
liste1.sort()
liste1

['ali', 'ayşe', 'deli', 'fatma', 'veli']

In [14]:
liste1.append("ayten")
liste1.sort()
liste1

['ali', 'ayten', 'ayşe', 'deli', 'fatma', 'veli']

In [15]:
liste1[2] = "ayse"
liste1.sort()
liste1

['ali', 'ayse', 'ayten', 'deli', 'fatma', 'veli']

In [16]:
liste1.sort(reverse=True)
liste1

['veli', 'fatma', 'deli', 'ayten', 'ayse', 'ali']

In [17]:
liste1.reverse()
liste1

['ali', 'ayse', 'ayten', 'deli', 'fatma', 'veli']

In [18]:
liste2 = [1, 5000, 56545, 5688]
max(liste2)

56545

In [19]:
min(liste2)

1

In [20]:
print(max(liste1))
print(min(liste1))

veli
ali

In [21]:
liste1.append("ayten")
liste1.count("ayten")

2

In [22]:
type(liste1.count("ayten"))

int

In [23]:
ord("G")

71

In [24]:
chr(117)

'u'

In [25]:
ogrenciler = ["ahmet", "ayşe", "mehmet"]
numaralar = [150, 160, 170]
print(numaralar[ogrenciler.index("ayşe")])

160

## **2-Tuples**

In [26]:
()

()

In [27]:
tuple()

()

In [28]:
tuple("buraya metin yazıyorum")

('b',
 'u',
 'r',
 'a',
 'y',
 'a',
 ' ',
 'm',
 'e',
 't',
 'i',
 'n',
 ' ',
 'y',
 'a',
 'z',
 'ı',
 'y',
 'o',
 'r',
 'u',
 'm')

In [29]:
tuple(1,2,3,4)

TypeError: tuple expected at most 1 argument, got 4

In [30]:
tuple(1,)

TypeError: 'int' object is not iterable

In [31]:
tuple([1, 2, 3, 4])

(1, 2, 3, 4)

In [32]:
a = (1, 2, 3, 4)
type(a)

tuple

In [33]:
a = ("ahmet")
type(a)

str

In [34]:
a = ("ahmet",)
type(a)

tuple

In [35]:
"ahmet", "mehmet"

('ahmet', 'mehmet')

In [39]:
5,14

(5, 14)

In [40]:
"ahmet", "mehmet" + "zeynep"

('ahmet', 'mehmetzeynep')

In [41]:
"ahmet" + "mehmet", "zeynep"

('ahmetmehmet', 'zeynep')

In [42]:
("ahmet", "mehmet") + "zeynep"

TypeError: can only concatenate tuple (not "str") to tuple

In [43]:
("ahmet" , "mehmet") + ("zeynep", "fatma") + ("ayşe", "kaan")

('ahmet', 'mehmet', 'zeynep', 'fatma', 'ayşe', 'kaan')

In [48]:
a = ("banana", "grape", "cherry")
print("a:", a)
b = list(a)
print("b:", b)
b[0] = "apple"
print("b:", b)
a = tuple(b)

print("a:", a)

a: ('banana', 'grape', 'cherry')
b: ['banana', 'grape', 'cherry']
b: ['apple', 'grape', 'cherry']
a: ('apple', 'grape', 'cherry')

In [46]:
message = tuple("Hello World, I'm a friend".split())
message

('Hello', 'World,', "I'm", 'a', 'friend')

In [49]:
print(message[0:2])

('Hello', 'World,')

In [50]:
print(message[:2])

('Hello', 'World,')

In [51]:
print(message[-3:-1])

("I'm", 'a')

In [52]:
print(message[-4::2])

('World,', 'a')

In [53]:
tuple(range(1, 10))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [54]:
tuple(range(1, 20, 5))

(1, 6, 11, 16)

In [55]:
tuple(range(20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [57]:
tuple(range(0, 20, 5))

(0, 5, 10, 15)

In [58]:
list(range(0, 20, 5))

[0, 5, 10, 15]

In [59]:
tuples = (1, 2, 3, 4, True, False, 5.6, (2, 3, 5), [7, 8, 9])
tuples

(1, 2, 3, 4, True, False, 5.6, (2, 3, 5), [7, 8, 9])

In [60]:
len(tuples)

9

In [62]:
tuples[8][0]

7

In [63]:
tuples[9][2]

IndexError: tuple index out of range

In [64]:
tuples.count(2)

1

In [65]:
tuples.insert(5, 6)

AttributeError: 'tuple' object has no attribute 'insert'

In [67]:
tuples.index(5.6)

6

In [68]:
tuples.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [70]:
tuples.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [71]:
sorted(tuples)

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [72]:
tuple2 = (25, 69, 88, 125, 96, 1)
sorted(tuple2)

[1, 25, 69, 88, 96, 125]

In [73]:
type(sorted(tuple2))

list

In [74]:
tuple(sorted(tuple2))

(1, 25, 69, 88, 96, 125)

In [75]:
del tuples
tuples

NameError: name 'tuples' is not defined

In [76]:
a = tuple(range(10))
tuple(sorted(a, reverse=1))

(9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

In [78]:
b = (20, 200, 65, 7, 9, 6, 1998)
b = sorted(b)
print(b)
tuple(b)

[6, 7, 9, 20, 65, 200, 1998]

(6, 7, 9, 20, 65, 200, 1998)

## **3 - Dictionaries**

In [79]:
dict()

{}

In [80]:
sozluk = dict(birinci="first", ikinci="second")
sozluk

{'birinci': 'first', 'ikinci': 'second'}

In [81]:
personel = {"adi": "mehmet", "soyadi": "keser", "yasi": 30}
personel

{'adi': 'mehmet', 'soyadi': 'keser', 'yasi': 30}

In [82]:
personel.items()

dict_items([('adi', 'mehmet'), ('soyadi', 'keser'), ('yasi', 30)])

In [83]:
type(personel.items())

dict_items

In [84]:
personel.keys()

dict_keys(['adi', 'soyadi', 'yasi'])

In [85]:
type(personel.keys())

dict_keys

In [86]:
personel.values()

dict_values(['mehmet', 'keser', 30])

In [87]:
personel

{'adi': 'mehmet', 'soyadi': 'keser', 'yasi': 30}

In [88]:
personel["soyadi"]

'keser'

In [89]:
x = personel["yasi"]
x

30

In [90]:
kisi = dict({"adi": "ali", "soyadi": "kaya"}, yasi=24)
print(kisi)

{'adi': 'ali', 'soyadi': 'kaya', 'yasi': 24}

In [91]:
ogrenci = {
    "numara": "150",
    "ad": "ali",
    "soyad": "kaya"
}

print(ogrenci["numara"])
print(ogrenci["ad"])
print(ogrenci["soyad"])

150
ali
kaya

In [92]:
numara = ogrenci.get("numara")
ad = ogrenci.get("ad")
soyad = ogrenci.get("soyad")

print(numara, ad, soyad)

150 ali kaya

In [93]:
ogrenci["numara"] = 220
print(ogrenci)

{'numara': 220, 'ad': 'ali', 'soyad': 'kaya'}

In [94]:
ogrenci["cinsiyet"] = "E"
print(ogrenci)

{'numara': 220, 'ad': 'ali', 'soyad': 'kaya', 'cinsiyet': 'E'}

In [95]:
ogrenci.clear()
ogrenci

{}

In [96]:
del ogrenci
print(ogrenci)

NameError: name 'ogrenci' is not defined

In [97]:
ogrenci = {
  "numara": "150",
  "ad": "ali",
  "soyad": "kaya"
}

ogrenci.popitem()
print(ogrenci)

{'numara': '150', 'ad': 'ali'}

In [98]:
ogrenci = {
  "numara": "150",
  "ad": "ali",
  "soyad": "kaya"
}

ogrenci_2 = ogrenci
ogrenci_2

{'numara': '150', 'ad': 'ali', 'soyad': 'kaya'}

In [99]:
ogrenci_2["memleket"] = "ankara"
ogrenci_2

{'numara': '150', 'ad': 'ali', 'soyad': 'kaya', 'memleket': 'ankara'}

In [100]:
print(ogrenci)

{'numara': '150', 'ad': 'ali', 'soyad': 'kaya', 'memleket': 'ankara'}

In [101]:
ogrenci_3 = ogrenci_2.copy()
ogrenci_3["yaş"] = 25
print(ogrenci)
print(ogrenci_2)
print(ogrenci_3)

{'numara': '150', 'ad': 'ali', 'soyad': 'kaya', 'memleket': 'ankara'}
{'numara': '150', 'ad': 'ali', 'soyad': 'kaya', 'memleket': 'ankara'}
{'numara': '150', 'ad': 'ali', 'soyad': 'kaya', 'memleket': 'ankara', 'yaş': 25}

In [102]:
sayilar = ("birinci", "ikinci", "üçüncü")
deger = 0
new_dict = dict.fromkeys(sayilar, deger)
new_dict

{'birinci': 0, 'ikinci': 0, 'üçüncü': 0}

In [103]:
sayilar = ("birinci", "ikinci", "üçüncü")
deger = (0, 1, 2)
new_dict = dict.fromkeys(sayilar, deger)
new_dict

{'birinci': (0, 1, 2), 'ikinci': (0, 1, 2), 'üçüncü': (0, 1, 2)}

In [104]:
sayilar = ("birinci", "ikinci", "üçüncü")
new_dict = dict.fromkeys(sayilar)
new_dict

{'birinci': None, 'ikinci': None, 'üçüncü': None}

In [109]:
users = {
    'user1': {
        "age": 36,
        "roles": ["user"],
        "email": "user1@email.com",
        "address": "istanbul",
        "phone": "3547365"
    },
    'user2': {
        "age": 29,
        "roles": ["admin", "user"],
        "email": "user2@email.com",
        "address": "ankara",
        "phone": "5623254"
    }
}

In [107]:
print(users["user1"]["email"])

user1@email.com

In [110]:
print(users["user2"]["roles"][0])

admin

In [112]:
personel = {}
number = input("personel no:")
name = input("personel adi:")
surname = input("personel soyadi:")
phone = input("personel telefonu:")

personel.update({
    "no": number,
    "isim": name,
    "soyisim": surname,
    "tel": phone
})

print(personel)

{'no': '256', 'isim': 'ahmet', 'soyisim': 'taş', 'tel': '545556'}

In [113]:
personel = {"user1": {}, "user2": {}}

number = input("personel no:")
name = input("personel adi:")
surname = input("personel soyadi:")
phone = input("personel telefonu:")

personel["user1"].update({
    "no": number,
    "isim": name,
    "soyisim": surname,
    "tel": phone
})

number = input("personel no:")
name = input("personel adi:")
surname = input("personel soyadi:")
phone = input("personel telefonu:")

personel["user2"].update({
    "no": number,
    "isim": name,
    "soyisim": surname,
    "tel": phone
})

print(personel)

{'user1': {'no': '235', 'isim': 'ayşe', 'soyisim': 'uygun', 'tel': '654564'}, 'user2': {'no': '852', 'isim': 'pelin', 'soyisim': 'kuru', 'tel': '852154'}}

In [114]:
"user1" in personel

True

In [115]:
"no" in personel

False

In [116]:
"no" in personel["user2"]

True

In [117]:
D = {1: 1, 2: '2', '1': 2, '2': 3}
D['1'] = 2
print(D[D[D[str(D[1])]]])

3

In [118]:
D = {1 : {'A' : {1 : "A"}, 2 : "B"}, 3 :"C", 'B' : "D", "D": 'E'} 
print(D[D[D[1][2]]], end = " ") 
print(D[D[1]["A"][2]])

E

KeyError: 2

In [120]:
D = {1 : [1, 2, 3], 2: (4, 6, 8)} 
D[1].append(4) 
print(D[1], end = " ") 
L = [D[2]]
L.append(10)
D[2] = tuple(L)
print(D[2])

[1, 2, 3, 4] ((4, 6, 8), 10)