# format & f-string

In [4]:
name = "Ahmet"
surname = "Altın"
age = 35

greeting = "My name is " + name + " " + surname + " and \nI'm " + str(age) + " years old."
print(greeting)

My name is Ahmet Altın and
I'm 35 years old.

In [5]:
name = "Ahmet"
surname = "Altın"
age = 35

print("My name is {} {} and \nI'm {} years old.".format(name, surname, age))

My name is Ahmet Altın and
I'm 35 years old.

In [8]:
name = "Ahmet"
surname = "Altın"
age = 35

print("My name is {2} {1} and \nI'm {0} years old.".format(age, surname, name))

My name is Ahmet Altın and
I'm 35 years old.

In [10]:
name = "Ahmet"
surname = "Altın"
age = 35

print("My name is {a} {s} and \nI'm {y} years old.".format(y=age, a=name, s=surname))

My name is Ahmet Altın and
I'm 35 years old.

In [11]:
str1 = '{2}, {1} and {0}'.format('a', 'b', 'c')
str2 = '{0}{1}{0}'.format('abra', 'cad')
print(str1, str2, sep="\n")

c, b and a
abracadabra

In [12]:
name = "Ahmet"
surname = "Altın"
age = 35

print(f"My name is {name} {surname} and \nI'm {age} years old.")

My name is Ahmet Altın and
I'm 35 years old.

In [14]:
print(greeting)

My name is Ahmet Altın and
I'm 35 years old.

In [15]:
len(greeting)

45

In [17]:
sonuc = greeting[5:26:2]
sonuc

'm sAmtAtnad'

In [18]:
sonuc = greeting[-5:-25:-5]
sonuc

' ymd'

In [20]:
sonuc = greeting[0:]
print(sonuc)

My name is Ahmet Altın and
I'm 35 years old.

In [21]:
print(*greeting, sep="_")

M_y_ _n_a_m_e_ _i_s_ _A_h_m_e_t_ _A_l_t_ı_n_ _a_n_d_ _
_I_'_m_ _3_5_ _y_e_a_r_s_ _o_l_d_.

# **string** methods

In [22]:
print(greeting.upper())

MY NAME IS AHMET ALTIN AND
I'M 35 YEARS OLD.

In [23]:
print(greeting.upper().lower())

my name is ahmet altin and
i'm 35 years old.

In [25]:
print("bu yazıyı fark etmenizle".upper(),
      "FARK ETMEMENİZİN,".lower(),
      "hiç bir şey fark etmediğini".capitalize(),
      "fARK eDECEKSİNİZ.".title(), 
      sep="\n")

BU YAZIYI FARK ETMENIZLE
fark etmemeni̇zi̇n,
Hiç bir şey fark etmediğini
Fark Edeceksi̇ni̇z.

In [30]:
print("Çekoslavakyalılaştıramadıklarımızdan mısınız?"
      .replace("e", "a")
      .replace("o", "ö")
      .replace("ı", "_")
      .title()
      .split("_"))

['Çaköslavakyal', 'Laşt', 'Ramad', 'Klar', 'M', 'Zdan M', 'S', 'N', 'Z?']

In [32]:
str1 = "Techpro is the best course in the world"
print(*str1.swapcase())

t E C H P R O   I S   T H E   B E S T   C O U R S E   I N   T H E   W O R L D

In [33]:
print(str1.split("e", maxsplit=3))

['T', 'chpro is th', ' b', 'st course in the world']

In [37]:
print(*str1.split("h"), sep="☺\n")

Tec☺
pro is t☺
e best course in t☺
e world

In [40]:
print(str1.strip("d").strip("T").strip("k"))

echpro is the best course in the worl

In [44]:
print(str1.replace(" ", " ♦ ").join("*\n*"))

*Techpro ♦ is ♦ the ♦ best ♦ course ♦ in ♦ the ♦ world
Techpro ♦ is ♦ the ♦ best ♦ course ♦ in ♦ the ♦ world*

In [45]:
len(str1)

39

In [46]:
print(str1.center(50, "*"))

*****Techpro is the best course in the world******

In [47]:
print(str1.ljust(50, "*"))

Techpro is the best course in the world***********

In [48]:
print(str1.rjust(50, "*"))

***********Techpro is the best course in the world

In [49]:
str2 = str1.center(45, "*").center(50, "♦").ljust(55, "!").rjust(60, "$")
print(str2)

$$$$$♦♦***Techpro is the best course in the world***♦♦♦!!!!!

In [50]:
str2 = str2.strip("$!♦*")
print(str2)

Techpro is the best course in the world

In [51]:
str2 = str2.strip("T")
print(str2)

echpro is the best course in the world

In [52]:
str2 = str2.strip(5)
print(str2)

TypeError: strip arg must be None or str

In [56]:
len(str1)

39

In [53]:
str2 = str1.center(45, "*").center(50, "-").ljust(55, "!").rjust(60, "$")
print(str2)

$$$$$--***Techpro is the best course in the world***---!!!!!

In [55]:
str2 = str2.strip("$-*!")
print(str2)

Techpro is the best course in the world

In [58]:
str3 = str1.find("the")
str3

11

In [60]:
str3 = str1.rfind("the")
str3

30

In [62]:
str3 = str1.find("the", 15, 25)
str3

-1

In [63]:
str3 = str1.find("the", 15, 35)
str3

30

# **if/elif/else**

In [66]:
x = 20
if x > 25:
    print("sayı 25'ten büyüktür")
elif x < 15:
    print("sayı 15'ten küçüktür")
else:
    print("sayı 15 ile 25 arasındadır.")

sayı 15 ile 25 arasındadır.

In [72]:
x = int(input("bir sayı giriniz:"))
print(f"Girdiğiniz sayı {x} ve ", end="")

if x >= 25:
    print("sayı 25'ten büyüktür")
elif x <= 15:
    print("sayı 15'ten küçüktür")
else:
    print("sayı 15 ile 25 arasındadır.")

Girdiğiniz sayı 10 ve sayı 15'ten küçüktür

 **ÖR:** Kullanıcıdan isim, yaş ve eğitim bilgilerini isteyip ehliyet alabilme durumunu kontrol eden python uygulamasını yapınız.

** Ehliyet alma koşulu en az 18 ve eğitim durumu lise ya da üniversite olmalıdır.

In [73]:
isim = input("İsminizi yazınız:")
age = int(input("Yaşınızı giriniz:"))
mezuniyet = input("En son mezun olduğunuz eğitim düzeyini yazınız: ").lower()


if age >= 18 and mezuniyet == "lise" or mezuniyet == "üniversite":
    print(f"{isim}, yaşınız {age} ve mezuniyetiniz {mezuniyet} olduğundan ehliyet alabilirsiniz.")
else:
    print(f"{isim} ehliyet almak için uygun kriterlere sahip değilsiniz!")

ahmet ehliyet almak için uygun kriterlere sahip değilsiniz!

In [76]:
isim = input("İsminizi yazınız:")
age = int(input("Yaşınızı giriniz:"))
mezuniyet = input("En son mezun olduğunuz eğitim düzeyini yazınız: ").lower()

if age >= 18:
    if mezuniyet == "lise" or mezuniyet == "üniversite":
        print(f"{isim} mezuniyet şartını sağladınız. ehliyet alabilirsiniz")
    else:
        print(f"{isim} eğitim düzeyiniz yetersiz. Ehliyet alamazsınız.")
else:
    print(f"{isim} yaşınız ehliyet almaya yeterli değil")

mehmet eğitim düzeyiniz yetersiz. Ehliyet alamazsınız.

**ÖR:** Girilen bir sayının pozitif çift sayı olup olmadığını kontrol eden python uygulamasını yapınız.

In [78]:
sayi = int(input("Bir sayı giriniz:"))

if sayi % 2:
    print("Sayı tek sayıdır.")
else:
    print("Sayı çift sayıdır")

Sayı çift sayıdır

In [80]:
sayi = int(input("Bir sayı giriniz:"))

if sayi % 2 == 0:
    print("Sayı çift sayıdır.")
else:
    print("Sayı tek sayıdır")

Sayı çift sayıdır.

# **Python Collection Types (Array)**

## **lists, tuples, dictionaries, sets**

### 1 - lists

In [81]:
liste1 = []
liste1

[]

In [82]:
type(liste1)

list

In [83]:
print(type(liste1))

<class 'list'>

In [84]:
liste2 = list("alivelideli")
liste2

['a', 'l', 'i', 'v', 'e', 'l', 'i', 'd', 'e', 'l', 'i']

In [85]:
liste3 = list(1256, "ali", False)

TypeError: list expected at most 1 argument, got 3

In [86]:
liste3 = list(1256)

TypeError: 'int' object is not iterable

In [87]:
liste3 = list(False)
liste3

TypeError: 'bool' object is not iterable

In [88]:
liste3 = list([1, 2, 3, 4, 5])
liste3

[1, 2, 3, 4, 5]

In [89]:
liste4 = list([1,2,3,4,5], [6,7,8],[9,10])
liste4

TypeError: list expected at most 1 argument, got 3

In [90]:
liste1 = [1, 2, 3]
liste2 = ['bir', 2, True, 5.6]
print(liste1, liste2, sep="\n")

[1, 2, 3]
['bir', 2, True, 5.6]

In [91]:
liste1[0]

1

In [92]:
liste3 = ["one", "two", "three"]
liste4 = ["four", "five", "six"]
numbers = liste3 + liste4
numbers

['one', 'two', 'three', 'four', 'five', 'six']

In [93]:
list1 = ["one", "two", "three"]
list2 = [[1, 2, 3], [4, 5, 6], [7, 8, 9], 10]

print(len(list1))
print(len(list2))

3
4

In [94]:
message = "Hello world. I'm a friend ☺".split()
message

['Hello', 'world.', "I'm", 'a', 'friend', '☺']

In [95]:
len(message)

6

In [96]:
message[3]

'a'

In [97]:
message[1:3]

['world.', "I'm"]

In [98]:
message[:4]

['Hello', 'world.', "I'm", 'a']

In [99]:
message[-1:-4:-1]

['☺', 'friend', 'a']

In [100]:
names = ["ahmet", "mehmet", "mustafa"]
surnames = ["yılmaz", "sert", "kaya"]

full_name1 = names[0] + " " + surnames[1]
full_name2 = names[1] + " " + surnames[2]
full_name3 = names[2] + " " + surnames[0]
print(full_name1, full_name2, full_name3, sep="\n")

ahmet sert
mehmet kaya
mustafa yılmaz

In [101]:
liste1 = ["one", "two", "three"]
liste1[1] = "updated"
liste1

['one', 'updated', 'three']

In [105]:
studentA = ["Ahmet", "Demir", 2010, [70, 60, 70]]
studentB = ["Nihal", "Kaya", 1999, [80, 80, 70]]
studentC = ["Elif", "İpek", 1998, [80, 70, 90]]

result = studentA[0]
print(result)
result = studentB[1]
print(result)
result = studentC[3][1]
print(result)

Ahmet
Kaya
70

In [107]:
result = f"{studentA[0]} {studentA[1]} {2023-studentA[2]} yaşında ve not ortalaması {round((studentA[3][0] + studentA[3][1] + studentA[3][2])/3, 2)}"
print(result)

Ahmet Demir 13 yaşında ve not ortalaması 66.67

### **list methods**

In [108]:
liste = ["apple", "banana", "orange"]
liste.append("kiwi")
liste

['apple', 'banana', 'orange', 'kiwi']

In [109]:
liste = ["apple", "banana", "orange"]
liste.append("kiwi", "cherry")
liste

TypeError: list.append() takes exactly one argument (2 given)

In [110]:
liste.append(["kiwi", "cherry"])
liste

['apple', 'banana', 'orange', ['kiwi', 'cherry']]

In [111]:
liste.insert(3, "strawberry")
liste

['apple', 'banana', 'orange', 'strawberry', ['kiwi', 'cherry']]

In [112]:
liste.remove("orange")
liste

['apple', 'banana', 'strawberry', ['kiwi', 'cherry']]

In [113]:
liste.pop()
liste

['apple', 'banana', 'strawberry']

In [114]:
liste.pop(0)

'apple'

In [115]:
liste

['banana', 'strawberry']

In [116]:
del liste
liste

NameError: name 'liste' is not defined

In [117]:
liste = ["apple", "banana", "orange"]
liste

['apple', 'banana', 'orange']

In [118]:
liste.clear()
liste

[]