## filter()

In [2]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [3]:
filter(None, "hello")

In [4]:
list(filter(None, "hello"))

['h', 'e', 'l', 'l', 'o']

In [6]:
list(filter(None, [0,1,2,[],True, False, "hello","",5.4]))

[1, 2, True, 'hello', 5.4]

In [7]:
def tek_sayılar(x):

    if x % 2 == 1:
        return True
    else:
        return False

In [11]:
tek_sayılar(6)

False

In [8]:
filter(tek_sayılar, [1,2,3,4,5,6,7,8,9])

In [9]:
list(filter(tek_sayılar, [1,2,3,4,5,6,7,8,9]))

[1, 3, 5, 7, 9]

In [12]:
list(filter(tek_sayılar, [2,4,6,8]))

[]

In [13]:
name_list = ["sedat", "techpro", "canan", "Enes", "Murat", "Hikmet"]

In [14]:
def len_5(x):
    return True if len(x) == 5 else False

In [18]:
def len_5a(x):

    if len(x) == 5:
        return True

In [15]:
len_5("canan")

True

In [19]:
len_5("hikmet")

False

In [20]:
list(filter(len_5,name_list))

['sedat', 'canan', 'Murat']

# Lambda ile fonksiyon oluşturma

In [21]:
def sayının_karesi(x):
    return x ** 2

In [22]:
sayının_karesi(5)

25

In [23]:
lambda x : x ** 2

In [24]:
(lambda x : x ** 2)(5)

25

In [25]:
def mean(x, y):
    return (x + y) / 2

In [26]:
mean(10,20)

15.0

In [27]:
(lambda x,y: (x + y) / 2)(4,8)

6.0

In [28]:
ortalama = lambda x,y: (x + y) / 2

In [29]:
ortalama(15,25)

20.0

In [31]:
(lambda name: len(name) == 5)("sedat")

True

In [32]:
(lambda name: len(name) == 5)("enes")

False

In [30]:
list(filter(lambda name: len(name) == 5, name_list))

['sedat', 'canan', 'Murat']

In [ ]:
# palindrom kelimeler

In [33]:
def palindrom(x):

    return x == x[::-1]

In [34]:
palindrom("nalan")

True

In [35]:
palindrom("mum")

True

In [36]:
palindrom("techpro")

False

In [38]:
(lambda name: name == name[::-1])("sedat")

False

In [39]:
(lambda name: name == name[::-1])("ey edip adanada pide ye")

True

In [40]:
(lambda name: name == name[::-1])("sedat","nalan")

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [52]:
import pandas as pd

In [53]:
df = pd.read_csv("adult_eda.csv")

In [54]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [55]:
df.sex.apply(lambda x : 0 if x == "Male" else 1)

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

In [56]:
sayılar_listesi = [2,45,62,8,35,9,74,42,14]

In [60]:
(lambda x : x % 2)(5)

1

In [65]:
list(filter(lambda x :  x % 2, sayılar_listesi ))

[45, 35, 9]

In [64]:
list(filter(lambda x :  not (x % 2), sayılar_listesi ))

[2, 62, 8, 74, 42, 14]

## map()

In [66]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [74]:
sayının_karesi(4)

16

In [72]:
map(sayının_karesi, [1,2,3,4,5])

In [71]:
list(map(sayının_karesi, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [76]:
list(map(len,["sedat","techpro","enes"]))

[5, 7, 4]

In [77]:
list(map(str.upper,["sedat","techpro","enes"]))

['SEDAT', 'TECHPRO', 'ENES']

In [78]:
list(map(str.upper,("sedat","techpro","enes")))

['SEDAT', 'TECHPRO', 'ENES']

In [79]:
tuple(map(str.upper,("sedat","techpro","enes")))

('SEDAT', 'TECHPRO', 'ENES')

In [80]:
set(map(str.upper,("sedat","techpro","enes")))

{'ENES', 'SEDAT', 'TECHPRO'}

In [81]:
dict(map(str.upper,("sedat","techpro","enes")))

ValueError: dictionary update sequence element #0 has length 5; 2 is required

In [82]:
sayılar_listesi

[2, 45, 62, 8, 35, 9, 74, 42, 14]

In [87]:
sayılar_listesi_2 = [2,9,6,5,12,11,20] # tek olanların karesi çift olanların 2 katınını yazdırın.

In [85]:
tekin_karesi_çiftin_2katı = lambda x : x ** 2 if x % 2 else 2 * x

In [89]:
list(map(tekin_karesi_çiftin_2katı, sayılar_listesi_2))

[4, 81, 12, 25, 24, 121, 40]

In [90]:
def my_map(* args):

    liste = []

    for i in args:
        liste.append(tekin_karesi_çiftin_2katı(i))

    return liste

In [91]:
my_map(2,9,6,5,12,11,20)

[4, 81, 12, 25, 24, 121, 40]

## faktöriyel soru çözümü

5! >> 5 * 4 * 3 * 2 * 1 >>> 120

n! >> n * (n-1) * (n-2) * ...... 1

In [92]:
def fact_while(x):

    çarpım_değeri = 1
    while x > 0:
        çarpım_değeri *= x
        x -= 1

    return çarpım_değeri

In [98]:
fact_while(-5)

1

In [2]:
def fact_for(x):

    çarpım_değeri = 1

    for i in range(1,x+1): # range(x,0,-1)
        çarpım_değeri *= i

    return çarpım_değeri

In [3]:
fact_for(5)

120

In [6]:
def fact_recursive(x):

    if x == 0:
        return 1

    return x * fact_recursive(x - 1)

In [12]:
fact_recursive(3)

6

In [9]:
def fact_recursive(x):

    if x >= 0:
        if x == 0:
            return 1

        return x * fact_recursive(x - 1)
    else:
        print("sıfırdan büyük bir sayı yazmanız gerekir")

In [11]:
fact_recursive(-5)

sıfırdan büyük bir sayı yazmanız gerekir

In [28]:
def fact_recursive_2(x):

    if x >= 0:
        if x == 0:
            return 0

        return x + fact_recursive_2(x - 1)
    else:
        print("sıfırdan büyük bir sayı yazmanız gerekir")

In [29]:
fact_recursive_2(50)

1275