# TUPLES

In [ ]:
# tuple oluştuema yöntemleri

tuple()
()

In [5]:
print(tuple("techpro education"))

('t', 'e', 'c', 'h', 'p', 'r', 'o', ' ', 'e', 'd', 'u', 'c', 'a', 't', 'i', 'o', 'n')

In [6]:
name = "techpro"

In [7]:
tuple(name)

('t', 'e', 'c', 'h', 'p', 'r', 'o')

In [8]:
tuple_1 = tuple("pınar")
tuple_1

('p', 'ı', 'n', 'a', 'r')

In [9]:
type(tuple_1)

tuple

In [10]:
tuple(1453)

TypeError: 'int' object is not iterable

In [11]:
tuple([1,2,3])

(1, 2, 3)

In [12]:
["techpro"]

['techpro']

In [13]:
type(["techpro"])

list

In [14]:
("techpro")

'techpro'

In [15]:
type(("techpro"))

str

In [16]:
("techpro",)

('techpro',)

In [18]:
type(("techpro",))

tuple

In [20]:
len(("techpro",))

1

In [17]:
("techpro","education")

('techpro', 'education')

In [19]:
3,14

(3, 14)

In [22]:
type((3,14))

tuple

In [23]:
tuple_2 = 1,"techpro", True

In [24]:
tuple_2

(1, 'techpro', True)

In [25]:
type(tuple_2)

tuple

In [26]:
name_1 = "furkan"

In [27]:
name_2, name_3 = "furkan", "yusuf", "aybüke"

ValueError: too many values to unpack (expected 2)

In [28]:
name_4 = "furkan", "yusuf"

In [29]:
name_4

('furkan', 'yusuf')

In [30]:
name_5 = "yahya",

In [31]:
name_5

('yahya',)

In [32]:
("ahmet", "mehmet") + ("ismail",)

('ahmet', 'mehmet', 'ismail')

In [33]:
("ahmet", "mehmet") * 2

('ahmet', 'mehmet', 'ahmet', 'mehmet')

### indexing

In [34]:
tuple_3 = ('ahmet', 'mehmet', 'ismail')
tuple_3

('ahmet', 'mehmet', 'ismail')

In [35]:
tuple_3[0]

'ahmet'

In [36]:
tuple_3[0][0]

'a'

In [37]:
tuple_3[0] = "faruk"

TypeError: 'tuple' object does not support item assignment

In [38]:
"ali", "mehmet" + "ali"

('ali', 'mehmetali')

In [40]:
"mehmet" + "ali"

'mehmetali'

In [39]:
("ali","mehmet") + "zeki"

TypeError: can only concatenate tuple (not "str") to tuple

In [42]:
("ali","mehmet") + ("zeki",)

('ali', 'mehmet', 'zeki')

In [47]:
"dada"

'dada'

In [46]:
"dada",

('dada',)

In [43]:
tuple("dada",)

('d', 'a', 'd', 'a')

In [45]:
tuple("dada","mama")

TypeError: tuple expected at most 1 argument, got 2

In [44]:
tuple(("dada",))

('dada',)

In [48]:
list(("dada",))

['dada']

In [49]:
list("dada",)

['d', 'a', 'd', 'a']

## range()

In [50]:
range(4,15)

range(4, 15)

In [51]:
tuple(range(4,15))

(4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [52]:
list(range(4,15))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [53]:
tuple(range(4,15,))

(4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [54]:
tuple(range(4,15,2))

(4, 6, 8, 10, 12, 14)

In [55]:
tuple(range(3,15,2))

(3, 5, 7, 9, 11, 13)

In [56]:
tuple(range(3,15,-1))

()

In [57]:
tuple(range(15,3,-1))

(15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4)

In [58]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [59]:
tuple(range(-5,10))

(-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [60]:
range(-5,10)[0]

-5

In [63]:
list(range(20,9,-2))

[20, 18, 16, 14, 12, 10]

In [65]:
tuple(range(4,15,1.5)) # tam sayılarla çalışır

TypeError: 'float' object cannot be interpreted as an integer

In [66]:
potpori = (3, 4.5, False, [1, 2, 3], (4, 5, 6),"Halil")
potpori

(3, 4.5, False, [1, 2, 3], (4, 5, 6), 'Halil')

In [67]:
potpori[3]

[1, 2, 3]

In [70]:
type(potpori[3])

list

In [68]:
potpori[3].append(4)

In [69]:
potpori

(3, 4.5, False, [1, 2, 3, 4], (4, 5, 6), 'Halil')

In [71]:
del potpori[3]

TypeError: 'tuple' object doesn't support item deletion

In [72]:
tuple_2

(1, 'techpro', True)

In [73]:
del tuple_2

In [74]:
tuple_2

NameError: name 'tuple_2' is not defined

In [75]:
len(potpori)

6

In [ ]:
# immutable

In [76]:
potpori

(3, 4.5, False, [1, 2, 3, 4], (4, 5, 6), 'Halil')

In [77]:
potpori.index(3)

0

In [78]:
potpori.index([1, 2, 3, 4])

3

In [81]:
[1,2,3,4,"techpro"].index("techpro")

4

In [82]:
(1,2,3,2,4,5,3).index(2)

1

In [83]:
(1,2,3,2,4,5,3).count(2)

2

iki tane nesne isteyin kullanıcıdan. type int ise toplayın

In [93]:
a = input("herhangi bir şey yazın")
b = input("herhangi bir şey yazın")

if a.isnumeric() and b.isnumeric():
    print(int(a) + int(b))
else:
    print( "girilen değerlerden biri veya ikisi int tipine uygun değil")

girilen değerler int tipine uygun değil

In [95]:
a = input("herhangi bir şey yazın")
b = input("herhangi bir şey yazın")

if a.isdigit() and b.isdigit():
    print(int(a) + int(b))
else:
    print( "girilen değerlerden biri veya ikisi int tipine uygun değil")

girilen değerlerden biri veya ikisi int tipine uygun değil

In [96]:
a = input("herhangi bir şey yazın")
b = input("herhangi bir şey yazın")

if a.isdecimal() and b.isdecimal():
    print(int(a) + int(b))
else:
    print( "girilen değerlerden biri veya ikisi int tipine uygun değil")

80

In [87]:
"35".isnumeric()

True

In [88]:
"ayhan".isnumeric()

False

In [99]:
chr(115)

's'

In [97]:
ord("a")

97