# min(), max()

In [1]:
liste_1 = [4,9,68,52,41,2,3,75,6]

In [2]:
min(liste_1)

2

In [3]:
max(liste_1)

75

In [4]:
min([1,2,3,"techpro", "education"])

TypeError: '<' not supported between instances of 'str' and 'int'

In [5]:
max(["hello", "world", "techpro"])

'world'

In [6]:
max([True, 1])

True

In [9]:
max([True, 1.0])

True

In [7]:
max([1, True])

1

In [10]:
max(["hello", "World", "techpro"])

'techpro'

In [11]:
ord("W")

87

In [12]:
ord("w")

119

In [13]:
max(["hello", "World", "techpro"], key = str.lower)

'World'

In [14]:
"Hello".lower

In [15]:
"Hello".lower()

'hello'

In [16]:
sayılar_listesi = [1, 4, 56, 18, 47, 96, 325, 1, 5, 4, 7, 8, -8, -400, 0, 47]

In [17]:
min(sayılar_listesi)

-400

In [18]:
max(sayılar_listesi)

325

In [24]:
sayılar_listesi = [1, 4, 56, 18, 47, 96, 325, 1, 5, 4, 7, 8, -8, -400, 0, 47]

index = 0

max_sayı = 0 # bu satırdan dolayı kısmen hatalı. listenin tüm elemanları sıfırdan küçük olabilir. 

while index < len(sayılar_listesi):

    if sayılar_listesi[index] > max_sayı:
        max_sayı = sayılar_listesi[index]

    index += 1

print(f"Listenin en büyük elemanı: {max_sayı}")

Listenin en büyük elemanı: 325

In [25]:
sayılar_listesi = [ -8, -400, -52,-36 ]

index = 0

max_sayı = 0

while index < len(sayılar_listesi):

    if sayılar_listesi[index] > max_sayı:
        max_sayı = sayılar_listesi[index]

    index += 1

print(f"Listenin en büyük elemanı: {max_sayı}")

Listenin en büyük elemanı: 0

In [28]:
sayılar_listesi = [1, 4, 56, 18, 47, 96, 325, 1, 5, 4, 7, 8, -8, -400, 0, 47]

index = 0

max_sayı = sayılar_listesi[0]

while index < len(sayılar_listesi):

    if sayılar_listesi[index] > max_sayı:
        max_sayı = sayılar_listesi[index]

    index += 1

print(f"Listenin en büyük elemanı: {max_sayı}")

Listenin en büyük elemanı: 325

In [79]:
sayılar_listesi = [1, 4, 56, 18, 47, 96, 325, 1, 5, 4, 7, 8, -8, -400, 0, 47]

index = 0

min_sayı = sayılar_listesi[0]

while index < len(sayılar_listesi):

    if sayılar_listesi[index] < min_sayı:
        min_sayı = sayılar_listesi[index]

    index += 1

print(min_sayı)

-400

# LOOPS - for

for değişken in iterable:
    kod satırı/satırları

In [29]:
for i in "techpro":
    print(i.upper())

T
E
C
H
P
R
O

In [30]:
for i in [1,2,3,4,5]:
    print(i ** 2)

1
4
9
16
25

In [31]:
for i in (1,2,3,4,5):
    print(i ** 2)

1
4
9
16
25

In [32]:
liste_2 = [1,2,3,4,5]
index = 0

while index < len(liste_2):
    print(liste_2[index] ** 2)
    index += 1

1
4
9
16
25

In [33]:
for i in 2023:
    print(i ** 2)

TypeError: 'int' object is not iterable

In [34]:
for i in ("murat", "enes", "fatih"):
    print(i.capitalize())

Murat
Enes
Fatih

In [35]:
liste_2

[1, 2, 3, 4, 5]

In [40]:
for i in liste_2:
    print(i ** 2, end = "*")

1*4*9*16*25*

In [ ]:
"Techpro"

"T-e-c-h-p-r-o"

In [41]:
empty_str = ""
for i in "Techpro":
    empty_str += i + "-"
print(empty_str)

T-e-c-h-p-r-o-

In [42]:
empty_str = ""
for i in "Techpro":
    empty_str += i + "-"
print(empty_str.rstrip("-"))

T-e-c-h-p-r-o

In [ ]:
"""
empty_str = ""
for i in "Techpro":
    empty_str += i + "-"
    print(empty_str.rstrip("-"))
"""

In [50]:
"-".join("Techpro")

'T-e-c-h-p-r-o'

In [51]:
tuple_1 = (1,2,3,4,5,5)

set(tuple_1)

{1, 2, 3, 4, 5}

In [52]:
empty_set = set()
for i in tuple_1:
    empty_set.add(i)

In [53]:
empty_set

{1, 2, 3, 4, 5}

In [54]:
dict_1 = {"name" : "safiullah", "surname": "wahab", "age": 24}
dict_1

{'name': 'safiullah', 'surname': 'wahab', 'age': 24}

In [55]:
for i in dict_1:
    print(i)

name
surname
age

In [57]:
for i in dict_1.values():
    print(i)

safiullah
wahab
24

In [58]:
dict_1.items()

dict_items([('name', 'safiullah'), ('surname', 'wahab'), ('age', 24)])

In [ ]:
[('name', 'safiullah'), ('surname', 'wahab'), ('age', 24)]

In [59]:
for i, j in dict_1.items():
    print(f"key: {i}, value: {j}")

key: name, value: safiullah
key: surname, value: wahab
key: age, value: 24

In [62]:
for i, j in dict_1.items():
    print(f"key: {i:<10}, value: {j}")

key: name      , value: safiullah
key: surname   , value: wahab
key: age       , value: 24

In [63]:
for i, j in dict_1.items():
    print(f"key: {i:>10}, value: {j}")

key:       name, value: safiullah
key:    surname, value: wahab
key:        age, value: 24

In [64]:
for i, j in dict_1.items():
    print(f"key: {i:^10}, value: {j}")

key:    name   , value: safiullah
key:  surname  , value: wahab
key:    age    , value: 24

In [65]:
liste_3 = [("name1","name2","name3"),("halil","fatih","ediz"),(25,30,17)]
liste_3

[('name1', 'name2', 'name3'), ('halil', 'fatih', 'ediz'), (25, 30, 17)]

In [66]:
for i, j, k in liste_3:
    print(i,j,k,sep="*")

name1*name2*name3
halil*fatih*ediz
25*30*17

In [69]:
for i, j in liste_3:
    print(i,j,sep="*")

ValueError: too many values to unpack (expected 2)

In [71]:
for i in True:
    print(i)

TypeError: 'bool' object is not iterable

In [ ]:
# sonsuz döngü. çalıştırma
liste_4 = [1]
for i in liste_4:
    print(i)
    liste_4.append(5)

In [ ]:
for i in range(1,51):
    print(f"{i} - Hoca bize ceza verdi")

In [ ]:
# Kullanıcıda 1 ile 9 arasında bir sayı girmesini isteyin. Ve girilen sayının çarpım tablosunu oluşturun.

In [78]:
number = int(input("1 ile 9 arasında bir sayı girin"))

if 1 <= number <= 9:
    for i in range(1,11):
        print(f"{number} x {i:<2} = {number * i}")
else:
    print("1 ile 9 arasında bir sayı girmenizi istemiştim.")

1 ile 9 arasında bir sayı girmenizi istemiştim.