# Lists

In [ ]:
list()
[]

In [ ]:
list()

In [13]:
"Techpro"[0]

'T'

In [15]:
list_1 = list("Techpro")
list_1

['T', 'e', 'c', 'h', 'p', 'r', 'o']

In [16]:
len(list_1)

7

In [17]:
len("sedat")

5

In [18]:
str_1 = "Techpro"

In [19]:
list(str_1)

['T', 'e', 'c', 'h', 'p', 'r', 'o']

In [21]:
print(type(list_1))

<class 'list'>

In [22]:
str(list_1) # stringe çevrilirse her bir karakter stringin elemanı olur

"['T', 'e', 'c', 'h', 'p', 'r', 'o']"

In [23]:
len(str(list_1))

35

In [ ]:
[]

In [24]:
liste_2 = ["Techpro"]
liste_2

['Techpro']

In [25]:
len(liste_2)

1

In [26]:
liste_3 = [4, "Taha", False, 3.14]
liste_3

[4, 'Taha', False, 3.14]

In [27]:
len(liste_3)

4

In [28]:
empty_list = list()
empty_list

[]

In [29]:
empty_list_2 = []
empty_list_2

[]

In [30]:
# print(type(list))

<class 'type'>

In [31]:
liste_4 = ["aybüke, ahmet, sadık, erdem"]
len(liste_4)

1

In [32]:
liste_5 = ["aybüke", "ahmet", "sadık", "erdem"]
len(liste_5)

4

In [34]:
liste_6 = [125]
print(liste_6)
len(liste_6)

[125]

1

In [35]:
liste_7 = list(125)
print(liste_7)
len(liste_7)

TypeError: 'int' object is not iterable

In [36]:
liste_8 = list(125,127) # list fonksiyonu içine tek eleman yazmamız lazım ve yazdığımız eleman iterable olmalı
print(liste_8)
len(liste_8)

TypeError: list expected at most 1 argument, got 2

In [37]:
list([1,2,"sedat",False])

[1, 2, 'sedat', False]

In [38]:
list([1,2,"sedat",False],[5,6])

TypeError: list expected at most 1 argument, got 2

In [41]:
liste_9 = [1 , 5, 3.14, False, "Bahadır", [4, 5]]
liste_9

[1, 5, 3.14, False, 'Bahadır', [4, 5]]

In [42]:
len(liste_9)

6

In [46]:
liste_9[-1]

[4, 5]

In [47]:
liste_9[-1][0]

4

In [48]:
liste_9[4]

'Bahadır'

In [49]:
liste_9[4][2]

'h'

In [50]:
liste_9

[1, 5, 3.14, False, 'Bahadır', [4, 5]]

In [53]:
liste_9[2]

3.14

In [54]:
liste_9[2][1]

TypeError: 'float' object is not subscriptable

In [55]:
str(liste_9[2])[1]

'.'

In [56]:
liste_9[1]

5

In [57]:
liste_9[1] ** 2

25

In [60]:
str_1

'Techpro'

In [61]:
str_1[0]

'T'

In [62]:
str_1[0] = "P"

TypeError: 'str' object does not support item assignment

In [63]:
sayi_listesi = [16, 25, [12, 14, 18], 27, 36]
sayi_listesi

[16, 25, [12, 14, 18], 27, 36]

In [64]:
sayi_listesi[0] = 9

In [65]:
sayi_listesi

[9, 25, [12, 14, 18], 27, 36]

In [68]:
sayi_listesi[-1] = "halil"

In [69]:
sayi_listesi

[9, 25, [12, 14, 18], 27, 'halil']

In [71]:
sayi_listesi[3] = 28 , 29
sayi_listesi

[9, 25, [12, 14, 18], (28, 29), 'halil']

In [74]:
yeni = [1, 2, 3] + ["Ömer", "Ferhat"]
yeni

[1, 2, 3, 'Ömer', 'Ferhat']

In [75]:
len(yeni)

5

In [77]:
[1, False] * 3

[1, False, 1, False, 1, False]

In [76]:
len([1, False] * 3)

6

In [78]:
[1, False] * 3.5

TypeError: can't multiply sequence by non-int of type 'float'

In [86]:
liste_10 = [1] * 10
liste_10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [87]:
liste_10[5:] = [2] * 5
liste_10

[1, 1, 1, 1, 1, 2, 2, 2, 2, 2]

In [88]:
liste_10[:3] = [4] * 4
liste_10

[4, 4, 4, 4, 1, 1, 2, 2, 2, 2, 2]

In [89]:
liste_10[:3] = [5] * 2
liste_10

[5, 5, 4, 1, 1, 2, 2, 2, 2, 2]

In [90]:
liste_11 = [5] * 10
liste_11

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [91]:
liste_11[:3] = 1, 2
liste_11

[1, 2, 5, 5, 5, 5, 5, 5, 5]

## Basic Operations With Lists

In [92]:
sayılar = [1, 2, 3, 4, 5]
sayılar

[1, 2, 3, 4, 5]

### append()

In [93]:
sayılar.append(6)

In [94]:
sayılar

[1, 2, 3, 4, 5, 6]

In [95]:
sayılar.append()

TypeError: list.append() takes exactly one argument (0 given)

In [96]:
sayılar.append(7,8)

TypeError: list.append() takes exactly one argument (2 given)

In [99]:
sayılar.append([7,8])

In [100]:
sayılar

[1, 2, 3, 4, 5, 6, [7, 8], [7, 8]]

### insert()

In [102]:
sayılar_2 = [1, 4, 9, 16, 25]
sayılar_2

[1, 4, 9, 16, 25]

In [103]:
sayılar_2.insert(1,"nazım")

In [104]:
sayılar_2

[1, 'nazım', 4, 9, 16, 25]

In [105]:
sayılar_2.insert(0, "enes")
sayılar_2

['enes', 1, 'nazım', 4, 9, 16, 25]

In [106]:
sayılar_2.insert(-1,"koray")

In [107]:
sayılar_2

['enes', 1, 'nazım', 4, 9, 16, 'koray', 25]

In [108]:
sayılar_2.insert(len(sayılar_2),"ömer")

In [109]:
sayılar_2

['enes', 1, 'nazım', 4, 9, 16, 'koray', 25, 'ömer']

In [110]:
sayılar_2.insert(100,"barış")

In [111]:
sayılar_2

['enes', 1, 'nazım', 4, 9, 16, 'koray', 25, 'ömer', 'barış']