# Data Types

In [ ]:
"Hello world" # str

In [1]:
print(type("Enes"))

<class 'str'>

In [2]:
type("sedat")

str

In [3]:
type("3")

str

In [5]:
type('3')

str

In [4]:
type(3)

int

In [6]:
print(type(3))

<class 'int'>

In [7]:
age = 32

In [8]:
type(age)

int

In [9]:
type(3.14)

float

In [10]:
pi_number = "3.14"

In [11]:
type(pi_number)

str

In [12]:
type(False)

bool

In [14]:
type(false)

NameError: name 'false' is not defined

In [13]:
type(True)

bool

In [15]:
name_1 = "Ediz"
age = 25

In [16]:
type(name_1,age)

TypeError: type() takes 1 or 3 arguments

In [18]:
type(name_1)
type(age)

int

In [19]:
print(type(name_1))
print(type(age))

<class 'str'>
<class 'int'>

# Type Conversion

## all types to str

In [28]:
age = 32
print(type(age))

<class 'int'>

In [25]:
converted_age = str(age)
print(converted_age)
print(type(converted_age))

32
<class 'str'>

In [27]:
converted_age = str(age)
converted_age

'32'

In [29]:
pi_number = 3.14
type(pi_number)

float

In [30]:
converted_pi_number = str(pi_number)
converted_pi_number

'3.14'

In [31]:
str(pi_number)

'3.14'

In [32]:
name_1

'Ediz'

In [33]:
x = False
y = True

In [34]:
str(x)

'False'

## str to int or float

In [36]:
sayı_1 = "35"
sayı_2 = "otuz"

In [37]:
int(sayı_1)

35

In [38]:
type(int(sayı_1))

int

In [39]:
int(sayı_2)

ValueError: invalid literal for int() with base 10: 'otuz'

In [49]:
sayı_3 = "3.14"
sayı_4 = "3,14"
sayı_5 = "üçnoktaondört"

In [50]:
float(sayı_3)

3.14

In [51]:
type(sayı_3)

str

In [52]:
converted_sayı_3 = float(sayı_3)
print(type(converted_sayı_3))
print(type(sayı_3))

<class 'float'>
<class 'str'>

In [53]:
sayı_3 = float(sayı_3)

In [54]:
type(sayı_3)

float

In [42]:
type(float(sayı_3))

float

In [43]:
float(sayı_4)

ValueError: could not convert string to float: '3,14'

In [44]:
float(sayı_5)

ValueError: could not convert string to float: 'üçnoktaondört'

In [55]:
type(1,11)

TypeError: type() takes 1 or 3 arguments

# Başlık
## Başlık
#### Başlık
###### Başlık

## float to int or int to float

In [58]:
sayı_6 = 24
sayı_7 = 5.6
print(type(sayı_6))
print(type(sayı_7))

<class 'int'>
<class 'float'>

In [59]:
float(sayı_6)

24.0

In [60]:
int(sayı_7)

5

In [61]:
int(5.99999)

5

In [62]:
int(-4.3)

-4

In [63]:
int(-4.8)

-4

In [68]:
int(5.9999999999999999) # istisna. int noktadan sonrasını siler normalde

6

## Bool to int or float

In [69]:
x = False
y = True
print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

In [70]:
int(x)

0

In [71]:
int(y)

1

In [72]:
float(x)

0.0

In [73]:
float(y)

1.0

In [74]:
x, y, z = "apple", "banana", "orange"
print(x)
print(y)
print(z)

apple
banana
orange

In [75]:
x, y, z = "apple", "banana", "orange","strawberry"
print(x)
print(y)
print(z)

ValueError: too many values to unpack (expected 3)

In [76]:
person = "Fatih"
age = 26
department = "Data scientist"
person = "Ahmet"
age = 35
department = "web developer"
salary = 160000

In [77]:
print(person)
print(department)
print(salary)
print(age)

Ahmet
web developer
160000
35

In [78]:
jan = 31
feb = 28
march = 31
apr = 30

In [79]:
print(jan,feb,march)

31 28 31

In [81]:
print(jan, feb, march, apr, may, jun, jul, august, sep, oct, nov, dec)

31 28 31 30 31 30 31 31 30 31 30 31

In [82]:
jan, march, may, jul, august, oct, dec = 31,31,31,31,31,31,31

In [83]:
apr = jun = sep = nov = 30

In [84]:
feb = 28

In [80]:
jan = march = may = jul = august = oct = dec = 31
apr = jun = sep = nov = 30
feb = 28