## zip()

In [2]:
a = ["apple", "orange", "lemon"]
b = [1,2,3]

In [3]:
zip(a,b)

In [4]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('lemon', 3)]

In [5]:
tuple(zip(a,b))

(('apple', 1), ('orange', 2), ('lemon', 3))

In [6]:
x = "techpro"
y = "enes"
z = "ali"

In [7]:
list(zip(x,y,z))

[('t', 'e', 'a'), ('e', 'n', 'l'), ('c', 'e', 'i')]

In [10]:
list(zip(z,y,x))

[('a', 'e', 't'), ('l', 'n', 'e'), ('i', 'e', 'c')]

In [8]:
list(zip("techpro", [1,2,3,4], []))

[]

In [9]:
list(zip("techpro", "[1,2,3,4], []"))

[('t', '['),
 ('e', '1'),
 ('c', ','),
 ('h', '2'),
 ('p', ','),
 ('r', '3'),
 ('o', ',')]

In [11]:
name = ["murat", "enes", "koray"]
age = [35,25,23]
job = ["data_analyst", "python_developer", "data_scientist"]

In [14]:
for i,j,k in zip(name,age,job):
    print(f"{i:<10}{j:<5}{k:<15}")

murat     35   data_analyst
enes      25   python_developer
koray     23   data_scientist

In [16]:
print(list(zip(name,age,job)))

[('murat', 35, 'data_analyst'), ('enes', 25, 'python_developer'), ('koray', 23, 'data_scientist')]

In [17]:
for i in zip(name,age,job):
    print(i)

('murat', 35, 'data_analyst')
('enes', 25, 'python_developer')
('koray', 23, 'data_scientist')

In [18]:
for i,j in zip(name,age,job):
    print(i,j)

ValueError: too many values to unpack (expected 2)

In [25]:
liste_1 = ["techpro", "education"] * 10
len(liste_1)

20

In [26]:
list(zip(range(1,101), liste_1))

[(1, 'techpro'),
 (2, 'education'),
 (3, 'techpro'),
 (4, 'education'),
 (5, 'techpro'),
 (6, 'education'),
 (7, 'techpro'),
 (8, 'education'),
 (9, 'techpro'),
 (10, 'education'),
 (11, 'techpro'),
 (12, 'education'),
 (13, 'techpro'),
 (14, 'education'),
 (15, 'techpro'),
 (16, 'education'),
 (17, 'techpro'),
 (18, 'education'),
 (19, 'techpro'),
 (20, 'education')]

## enumerate()

In [21]:
a

['apple', 'orange', 'lemon']

In [22]:
enumerate(a)

In [27]:
list(enumerate(a))

[(0, 'apple'), (1, 'orange'), (2, 'lemon')]

In [28]:
list(enumerate(liste_1))

[(0, 'techpro'),
 (1, 'education'),
 (2, 'techpro'),
 (3, 'education'),
 (4, 'techpro'),
 (5, 'education'),
 (6, 'techpro'),
 (7, 'education'),
 (8, 'techpro'),
 (9, 'education'),
 (10, 'techpro'),
 (11, 'education'),
 (12, 'techpro'),
 (13, 'education'),
 (14, 'techpro'),
 (15, 'education'),
 (16, 'techpro'),
 (17, 'education'),
 (18, 'techpro'),
 (19, 'education')]

In [31]:
list(enumerate(liste_1,101))

[(101, 'techpro'),
 (102, 'education'),
 (103, 'techpro'),
 (104, 'education'),
 (105, 'techpro'),
 (106, 'education'),
 (107, 'techpro'),
 (108, 'education'),
 (109, 'techpro'),
 (110, 'education'),
 (111, 'techpro'),
 (112, 'education'),
 (113, 'techpro'),
 (114, 'education'),
 (115, 'techpro'),
 (116, 'education'),
 (117, 'techpro'),
 (118, 'education'),
 (119, 'techpro'),
 (120, 'education')]

In [33]:
set(zip(a,b))

{('apple', 1), ('lemon', 3), ('orange', 2)}

In [37]:
set(zip(x,y,z))

{('c', 'e', 'i'), ('e', 'n', 'l'), ('t', 'e', 'a')}

In [34]:
dict(zip(a,b))

{'apple': 1, 'orange': 2, 'lemon': 3}

In [38]:
dict(zip(b,a))

{1: 'apple', 2: 'orange', 3: 'lemon'}

In [36]:
dict(zip(x,y,z))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

### soru1: en küçük ve en büyük sayılar arsındaki kayıp sayıları bulun.

In [39]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [40]:
# 1 nci yöntem
empty_list = []

for i in range(min(num), max(num)):

    if i not in num:
        empty_list.append(i)

print(empty_list)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [41]:
# 2 nci yöntem
empty_list = []

for i in range(min(num), max(num)):

    if i in num:
        continue

    empty_list.append(i)

print(empty_list)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [43]:
# 3 ncü yöntem

full_set = set(range(min(num), max(num)+1))
num_set = set(num)

full_set - num_set

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [44]:
set(range(min(num), max(num)+1)) - set(num)

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

## soru2: Listenin tek elemanlarını olduğu gibi çift elemanlarının karesini yine bir liste olarak döndüren kodu yazın.

In [49]:
liste_2 = [1,2,3,4,5,6]

new_list = []

for i in liste_2:

    if i % 2:
        new_list.append(i)
    else:
        new_list.append(i ** 2)

print(new_list)

[1, 4, 3, 16, 5, 36]

In [48]:
if 2 % 2:
    print("bunu yazdırır")

# List Comprehension

In [50]:
liste_3 = [1,2,3,4,5]
empty_list = []
for i in liste_3:
    empty_list.append(i ** 2)
print(empty_list)

[1, 4, 9, 16, 25]

In [51]:
[ i ** 2 for i in liste_3 ]

[1, 4, 9, 16, 25]

In [52]:
[ i ** 2 for i in [1,2,3,4,5] ] # yalnız for döngüsü kullanılacaksa

[1, 4, 9, 16, 25]

In [53]:
liste_4 = ["renault*","fiat?!","ford?!"]
liste_4

['renault*', 'fiat?!', 'ford?!']

In [54]:
new_list = []
for i in liste_4:
    new_list.append(i.replace("*","").replace("?","").replace("!",""))
print(new_list)

['renault', 'fiat', 'ford']

In [55]:
[ i.replace("*","").replace("?","").replace("!","") for i in liste_4]

['renault', 'fiat', 'ford']

In [56]:
liste_3 = [1,2,3,4,5]
empty_list = []
for i in liste_3:
    if i % 2:
        empty_list.append(i ** 2)
print(empty_list)

[1, 9, 25]

In [57]:
[ i ** 2 for i in liste_3 if i % 2 ] # if tek başına kullanılırsa

[1, 9, 25]

In [58]:
liste_2 = [1,2,3,4,5,6]

new_list = []

for i in liste_2:

    if i % 2:
        new_list.append(i)
    else:
        new_list.append(i ** 2)

print(new_list)

[1, 4, 3, 16, 5, 36]

In [59]:
[ i if i % 2 == 1 else i ** 2 for i in [1,2,3,4,5,6] ] # if else beraber kullanılırsa

[1, 4, 3, 16, 5, 36]

In [60]:
if 3 % 2 == 1:
    print(3+5)

8

In [61]:
if 3 % 2:
    print(3+5)

8

In [ ]:
hackerrank
edabit

## nested loops

In [62]:
for i in ["Ömer","Eren", "Nazım"]:
    for j in [1,2,3,4,5]:
        print(i,j)

Ömer 1
Ömer 2
Ömer 3
Ömer 4
Ömer 5
Eren 1
Eren 2
Eren 3
Eren 4
Eren 5
Nazım 1
Nazım 2
Nazım 3
Nazım 4
Nazım 5

In [63]:
for i in ["Ömer","Eren", "Nazım"]:
    for j in [1,2,3,4,5]:
        print(i,j)
    print("iç döngü sonu")

Ömer 1
Ömer 2
Ömer 3
Ömer 4
Ömer 5
iç döngü sonu
Eren 1
Eren 2
Eren 3
Eren 4
Eren 5
iç döngü sonu
Nazım 1
Nazım 2
Nazım 3
Nazım 4
Nazım 5
iç döngü sonu

In [64]:
for i in ["Ömer","Eren", "Nazım"]:
    for j in [1,2,3,4,5]:
        print(i,j)
    print("iç döngü sonu")
print("tüm döngülerin sonu")

Ömer 1
Ömer 2
Ömer 3
Ömer 4
Ömer 5
iç döngü sonu
Eren 1
Eren 2
Eren 3
Eren 4
Eren 5
iç döngü sonu
Nazım 1
Nazım 2
Nazım 3
Nazım 4
Nazım 5
iç döngü sonu
tüm döngülerin sonu

In [65]:
for i in range(1,2):
    for j in range(0,11):
        print(f"{i} x {j} = {i * j}")

1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [66]:
for i in range(1,4):
    for j in range(0,11):
        print(f"{i} x {j} = {i * j}")

1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [68]:
for i in range(1,4):
    for j in range(0,11):
        print(f"{i} x {j:<2} = {i * j}")
    print("***********")

1 x 0  = 0
1 x 1  = 1
1 x 2  = 2
1 x 3  = 3
1 x 4  = 4
1 x 5  = 5
1 x 6  = 6
1 x 7  = 7
1 x 8  = 8
1 x 9  = 9
1 x 10 = 10
***********
2 x 0  = 0
2 x 1  = 2
2 x 2  = 4
2 x 3  = 6
2 x 4  = 8
2 x 5  = 10
2 x 6  = 12
2 x 7  = 14
2 x 8  = 16
2 x 9  = 18
2 x 10 = 20
***********
3 x 0  = 0
3 x 1  = 3
3 x 2  = 6
3 x 3  = 9
3 x 4  = 12
3 x 5  = 15
3 x 6  = 18
3 x 7  = 21
3 x 8  = 24
3 x 9  = 27
3 x 10 = 30
***********

In [69]:
for i in [1,2]:
    for j in ["Cumali", "Sibel"]:
        for k in ["****"]:
            print(i,j,k)

1 Cumali ****
1 Sibel ****
2 Cumali ****
2 Sibel ****

In [70]:
for i in [1,2]:
    for j in ["Cumali", "Sibel"]:
        for k in ["****"]:
            print(i,j,k)
print("inşallah kafalar karışmamıştır")

1 Cumali ****
1 Sibel ****
2 Cumali ****
2 Sibel ****
inşallah kafalar karışmamıştır

### Kullanıcının girdiği bir sayının Armstrong number olup olmadığını tespit eden bir algoritma oluşturun.

In [78]:
sayı = input("Armstrong olup olmadığını merak ettiğiniz bir sayı girin")

len_ = len(sayı)

toplam = 0

for i in sayı:

    toplam += int(i) ** len_

if toplam == int(sayı):
    print(f"Girdiğiniz sayı: {sayı} Armstrong bir sayıdır")
else:
    print(f"Girdiğiniz sayı: {sayı} Armstrong bir sayı değildir")

Girdiğiniz sayı: 8 Armstrong bir sayıdır

ödev: 10 ile 10000 arasındaki armstrong sayıları bulun.

In [81]:
sayı = input("Armstrong olup olmadığını merak ettiğiniz bir sayı girin")

len_ = len(sayı)

toplam = sum([ int(i) ** len_ for i in sayı ])

if toplam == int(sayı):
    print(f"Girdiğiniz sayı: {sayı} Armstrong bir sayıdır")
else:
    print(f"Girdiğiniz sayı: {sayı} Armstrong bir sayı değildir")

Girdiğiniz sayı: 407 Armstrong bir sayıdır

In [80]:
sum([ int(i) ** 3 for i in "153" ])

153